.column{
display: flex;
flex-direction: column;

}
.row{
  display: flex;
  flex-direction: row;
}
.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  width:5em;
  height:5em;
  
}
.board-container{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:1em;
}
.history{
  text-align: center;
  max-height: 45em;
  width:10em;
  max-width: 10em;
  overflow-x: auto-y;
  overflow-y: scroll;
}
.upgrade{
  background-color: rgb(140,140,140);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15em;
}
.button-container{
  padding: 1em;
  width:55em;
  display: flex;
  flex-direction: column;
}